<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dua/search.css' %}">
</head>
<body>
    
    <header class="header">
        <div class="logo">
            <h1>Al - Murshid</h1>
        </div>
        <nav class="nav">

            <div class="item_list">
                <li>
                    <a href="{% url 'home' %}"><p>Home</p></a>
                    <a href=""><p>Favorites</p></a>
                    <a href="{% url 'pryer' %}"><p>Pryer time</p></a>
                    <a href=""><p>Hadith</p></a>
                </li>
            </div>

            <div class="account">
                <a href="">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </a>
            </div>

        </nav>
    </header>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>