{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="{% static 'css/authentification/loginuser.css' %}">
    <title>Authentification | Login</title>
</head>
<body>
    
    <div class="background_img">
        <img src="{% static 'img/back.png' %}">
    </div>

    <div class="content">
        
        <div class="logo-box">
            <div class="center-logo-box">
                <a href="">
                    <h1>Al-Murshid</h1>
                </a>
            </div>
        </div>
    <form method="POST"></form>
        <div class="input-box">

            <div class="in username-box">
                <div class="title-box">
                    <p>Mail:</p>
                </div>
                <div class="input-input-box">
                    <div class="input-input-input-box">
                        <input type="text" placeholder="example@gmail.com">
                    </div>
                </div>
            </div>

            <div class="in password1-box">
                <div class="title-box">
                    <p>Mot de Passe:</p>
                </div>
                <div class="input-input-box">
                    <div class="input-input-input-box">
                        <input id='id2' type="password">
                    </div>
                    <div class="eye-box">
                        <ion-icon id='id1' onclick='Eyes()' name="eye-off-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <p class="warn-acc">Vous n'avez toujours pas de compte ? <a href="{% url 'signinuser' %}" style="color:#758bc8">Crée en un</a></p>

        </div>
        
    </div>

    
    <div class="conf-btn-box">
        <button type="submit">Se <br> connecter</button>
    </div>

    </form>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>