@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --bg-color: #00091f;
}


*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--bg-color);
    overflow: hidden;
}

.background_img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.background_img img{
    width: 100%;
    height: 100%;
}


.content{
    backdrop-filter: blur(2lvh);
    position: absolute;
    border-radius: 2.2lvh;
    margin-left: 32%;
    margin-top: 6%;
    width: 33%;
    height: 75lvh;
    box-shadow: 0lvh 0lvh 6lvh 4lvh #758bc8;
}

.logo-box{
    width: 100%;
    height: 20%;
}



.center-logo-box{
    height: 100%;
    width: 70%;
    margin: auto;
}

.center-logo-box h1{
    text-align: center;
    font-size: 5lvh;
    font-family: 'Poppins', sans-serif;
    color:#eee;
    margin-top: 12%;
}

.input-box{
    width: 100%;
    height: 62%;
}

.in{
    height: 33%;
    width: 100%;
}

.title-box{
    width: 100%;
    height: 40%;
}

.title-box p{
    color:#eee;
    font-family: sans-serif;
    font-size: 3lvh;
    margin-top: 3%;
    margin-left: 2%;
    cursor: default;
}


.input-input-box{
    width: 100%;
    height: 60%;
    display: flex;
}

.input-input-box input{
    background-color: transparent;
    color:#eee;
    font-family: sans-serif;
    font-size: 3lvh;
    width: 40lvh;
    margin-top: 3%;
    margin-left: 3%;
    border: none;
    outline: none;
    border-bottom: 2px solid #758bc8;
}

.input-input-input-box{
    height: 100%;
    width: 80%;
}

.eye-box{
    height: 100%;
    width: 20%;
}

.eye-box ion-icon{
    color:#eee;
    width: 70%;
    height: 70%;
    margin-top: 10%;
    cursor:pointer;
}


.conf-btn-box{
    width: 30%;
    height: 15%;
    position: absolute;
    margin-top: 45%;
    margin-left: 34%;
}

.conf-btn-box button{
    color:#eee;
    background-color: #0458c7;
    font-family: sans-serif;
    width: 40%;
    font-size: 3.4lvh;
    border: none;
    border-radius: 0.5lvh;
    margin-top: 5%;
    margin-left: 30%;
    cursor: pointer;
    transition: 0.3s all;
}


.conf-btn-box button:hover{
    background-color:#073c81;
}