@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');



:root{
    --bg-color: #00091f;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


html, body{
    overflow: hidden;
}


body{
    background-color: var(--bg-color);
}



/* width */
::-webkit-scrollbar {
    width: 1.7lvh;
}

/* bacground */
::-webkit-scrollbar-track {
    background: var(--bg-color);
}


/* Scroll bar color */
::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 2lvh;
}

/* Hover scroll bar color */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}





.background{
    width: 100%;
    height: 100%;
    position: absolute;
}

.background img{
    width: 100%;
    height: 100%;
}


.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}


.header{
    width: 100%;
    height: 15lvh;
    display: flex;
    justify-content: space-between;
}




.logo{
    width: 25%;
    height: 100%;
}

.logo h1{
    color:#eee;
    font-size: 5lvh;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin-left: 5%;
    margin-top: 7%;
    cursor: default;
    transition: 0.5s all;
}




.nav{
    height: 100%;
    width: 45%;
    display: flex;
}

.item_list{
    width: 75%;
    height: 100%;
}

.item_list li{
    display: flex;
    justify-content: space-between;
    margin: 8% 0% 5% 0%;
}


.item_list li a{
    color:#eee;
    transition: 0.2s all;
    border-radius: 1.2lvh;
    padding: 0% 2% 0% 2%;
}


.item_list li a:hover{
    background-color: #eee;
    color: var(--bg-color);
}


.item_list li a p{
    font-size: 3lvh;
    font-family: 'Poppins', sans-serif;
    opacity: 100%;
}



.account{
    width: 25%;
    height: 100%;
}


.account a{
    color:#eee;
    transition: 0.3s all;
    margin-left: 15%;
}

.account a:hover{
    color:#888
}


.account ion-icon{
    width: 80%;
    height: 80%;
}






/* _____________________ */




.main{
    width: 100%;
    height: 85%;
}


.clock{
    /* border: 1px solid #000; */
    width: 50%;
    height: 40lvh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time{
    /* border: 1px solid #000; */
    width: 80%;
    height: 70%;
}

.time h1{
    color:#eee;
    text-align: center;
    font-size: 10lvh;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10%;
    cursor:default;
}



.pryer{
    width: 100%;
    height: 45lvh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}


.box{
    /* border: 1px solid #000; */
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.int_box{
    background-color: rgba(0, 0, 0, 0.4);
    width: 90%;
    height: 90%;
    border-radius: 2lvh;
}


.title_box{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_box h1{
    color:#eee;
    font-family: 'Nunito', sans-serif;
    font-size: 5.5lvh;
    cursor: default;
}


.box_content{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box_content h1{
    color:#eee;
    font-family: 'Nunito', sans-serif;
    font-size: 7lvh;
    cursor: default;
}

.mobile{
    display: none;
}

.header_mobile{
    display: none;
}



.end{
    height: 10lvh;
}
@media (max-width:600px){


    html, body{
        overflow: scroll;
    }

    .header{
        display: none;
    }


    .header_mobile{
        display: block;
    }

    
    .logo{
        width: 100%;
        height: 12.5lvh;
    }

    .logo h1{
        text-align: center;
        font-size: 5lvh;
    }


    .threeline{
        display: contents;
    }


    .threeline_center_box{
        width: 30%;
        height: 10lvh;
        margin: auto;
    }

    .threeline_center_box .ionicon{
        width: 100%;
        height: 100%;
        color:#eee;
    }


    .menu_mobile{
        transition: 0.3s all;
    }

    .nav_mobile{
        width: 50%;
        height: 100%;
        margin: auto;
    }

    .nav_mobile li{
        text-align: center;
        margin: auto;
        list-style: none;
        margin-top: 0%;
        display: none;
    }

    .nav_mobile li a{
        color:#eee;
    }


    .nav_mobile li a p{
        font-size: 3.5lvh;
        font-family: 'Ubuntu', sans-serif;
        margin-top: 8%;
    }





    .main{
        display: none;
    }
    
    .mobile{
        display: block;
        /* border: 1px solid #eee; */
        width: 100%;
        /* height: 50lvh; */
    }

    .clock_mobile{
        width: 100%;
        /* border: 1px solid #000; */
    }

    .clock_mobile h1{
        font-size: 6lvh;
        font-family: 'Ubuntu', sans-serif;
        color:#eee;
        text-align: center;
    }

    .pryer_mobile{
        width: 100%;
        margin-top: 20%;
    }

    .time_table{
        width: 85%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.6);
        height: 70lvh;
        border-radius: 2lvh;
    }

    .top_timetable{
        width: 100%;
        height: 20%;
        /* border: 1px solid #eee; */
        display: flex;
    }

    .right_top_timetable{
        width: 50%;
        height: 100%;
    }

    .left_top_timetable{
        width: 50%;
        height: 100%;
    }

    .right_top_timetable h1, .left_top_timetable h1{
        color:#eee;
        font-size: 3lvh;
        font-family: 'Nunito', sans-serif;
        text-align: center;
        margin-top: 5%;
    }


    .bot_timetable{
        width: 100%;
        height: 80%;
        /* border: 1px solid #eee; */
    }


    .timetable_box{
        /* border: 1px solid #eee; */
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
    
    }

    .timetable_box h1{
        color:#eee;
        font-size: 3lvh;
        font-family: 'Nunito', sans-serif;
        margin: 5%;
        margin-top: 8%;
    }

    .end_menu{
        height: 10lvh;
    }

    .end{
        height: 10lvh;
    }
}