@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');



:root{
    --bg-color: #00091f;
}


*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    position: relative;
}


html, body{
    overflow-x: hidden;
}


body{
    background-color: var(--bg-color);
}



::-webkit-scrollbar {
    width: 1.7lvh;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

  
::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 2lvh;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #777;
}













.header{
    width: 100%;
    height: 15lvh;
    display: flex;
    justify-content: space-between;
}




.logo{
    width: 25%;
    height: 100%;
}

.logo h1{
    color:#eee;
    font-size: 5lvh;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin-left: 5%;
    margin-top: 7%;
    cursor: default;
    transition: 0.5s all;
}


.nav{
    height: 100%;
    width: 45%;
    display: flex;
}

.item_list{
    width: 75%;
    height: 100%;
}

.item_list li{
    display: flex;
    justify-content: space-between;
    margin: 8% 0% 5% 0%;
}


.item_list li a{
    color:#eee;
    transition: 0.2s all;
    border-radius: 1.2lvh;
    padding: 0% 2% 0% 2%;
}


.item_list li a:hover{
    background-color: #eee;
    color: var(--bg-color);
}


.item_list li a p{
    font-size: 3lvh;
    font-family: 'Poppins', sans-serif;
    opacity: 100%;
}



.account{
    width: 25%;
    height: 100%;
}


.account a{
    color:#eee;
    transition: 0.3s all;
    margin-left: 15%;
}

.account a:hover{
    color:#888
}


.account ion-icon{
    width: 80%;
    height: 80%;
}









.content{
    width: 100%;
    height: 100lvh;
}

.title_content{
    width: 100%;
    height: 20lvh;

}

.title_content h1{
    color:#eee;
    text-align: center;
    margin-top: 3%;
    font-size: 6lvh;
    font-family: 'Nunito', sans-serif;
    cursor: default;
}


.search_bar_box{    
    width: 100%;
    height: 25lvh;
}


.search_bar{
    border-radius: 2.2lvh;
    width: 50%;
    height: 35%;
    background-color: #eee;
    margin: auto;
    margin-top: 4%;
    display: flex;
}


.search_bar_box form{
    width: 100%;
    height: 100%;
    display: flex;
}

.input_box{
    border: 1px solid #000;
    width: 80%;
    height: 100%;
}


.input_box input{
    width: 100%;
    height: 100%;
    border-top-left-radius: 2lvh;
    border-bottom-left-radius: 2lvh;
    font-size: 4lvh;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    border: none;
    outline: none;
}



.icon_box{
    border: 1px solid #000;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all;
}



.icon_box:hover{
    background-color: var(--bg-color);
}

.icon_box:hover button{
    background-color: var(--bg-color);
}

.icon_box:hover ion-icon{
    color:#eee;
}


.int_icon{
    width: 70%;
    height: 70%;
}


.int_icon button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    transition: 0.2s all;
}

.icon_box ion-icon{
    width: 100%;
    height: 100%;
}


.int_icon{
    width: 70%;
    height: 70%;
}


.int_icon button{
    width: 100%;
    height: 100%;
}

.icon_box ion-icon{
    width: 100%;
    height: 100%;
}





.all_box{
    width: 100%;
    height: 55%;
}


.box{
    width: 100%;
    margin-top: 3%;
}

.int_box{
    width: 100%;
    height: 20lvh;
    display: flex;
    justify-content: space-between;
}


.title_box{
    width: 25%;
    height: 100%;
}

.title_box h1, .title_box p{
    color:#eee;
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
    text-align: center;
    cursor: default;
}


.title_box h1{
    font-size: 4.5lvh;
}

.title_box p{
    font-size: 3lvh;
}



.arrow_box{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.arrow{
    width: 40%;
    height: 40%;
}

.arrow ion-icon{
    color:#eee;
    width: 100%;
    height: 100%;
    cursor: pointer;
}



.dua_section{
    width: 100%;
    transition: 0.3s all;
    display: none;
}

.int_dua_section{
    width: 100%;
    height: 15lvh;
    margin-top: 2%;
}

.int_dua_section h1{
    color:#eee;
    margin-left: 2%;
    font-family: 'Poppins', sans-serif;
    font-size: 4lvh;
}