{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dua/home.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Al-Murshid</title>
</head>
<body>
    
    <div class="background">
        <img src=" {% static 'img/back.png' %}">
    </div>

    <div class="wrapper">

        <header class="header">
            <div class="logo">
                <h1>Al - Murshid</h1>
            </div>
            <nav class="nav">

                <div class="item_list">
                    <li>
                        <a href="{% url 'home' %}"><p>Home</p></a>
                        <a href=""><p>Favorites</p></a>
                        <a href="{% url 'pryer' %}"><p>Pryer time</p></a>
                        <a href=""><p>Instruction</p></a>
                    </li>
                </div>

                <div class="account">
                    <a href="">
                        <ion-icon name="person-circle-outline"></ion-icon>
                    </a>
                </div>

            </nav>
        </header>



        <header class="header_mobile">
            <div class="logo_mobile">
                <h1>Al - Murshid</h1>
            </div>
            <div class="threeline">
                <div class="threeline_center_box">
                    <ion-icon id="threelineid" onclick="Open()" class='ionicon' name="menu-outline"></ion-icon>
                </div>
            </div>

            <div id="menuid" class="menu_mobile">
                <nav class="nav_mobile">
                    <li id="id1">
                        <a href=""><p>Accueil</p></a>
                        <a href=""><p>Favorites</p></a>
                        <a href="{% url 'pryer' %}"><p>Pryer Time</p></a>
                        <a href=""><p>Instruction</p></a>
                        <a href=""><p>Mon Compte</p></a>
                    </li>
                </nav>
            </div>
        </header>




        <main class="main">


            <div class="salvation">
                <div class="title">
                    <h1 id="salvation_title">As-salamou aleykoum <br>Azretali !</h1>
                </div>
                <div class="btn_center_container">
                    <a href="{% url 'pryer' %}">
                        <div class="btn">
                            <h1>Pryer Time</h1>
                        </div>
                    </a>
                </div>
            </div>
        </main>

        <div class="separator"></div>




        <div class="content">


            <div class="title_content">
                <h1 id='dua'>Liste de tout les Dua</h1>
            </div>


            <div class="search_bar_box">

                <div class="search_bar">

                    <div class="input_box">
                        <input type="text" placeholder="Ablution, Adhan, Prière...">
                    </div>

                    <div class="icon_box">
                        <div class="int_icon">
                            <ion-icon name="search-sharp"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>


            <div class="all_box">
            {% for d in dua %}
                <div class="box">
                    <div class="int_box">
                        <div class="title_box">
                            <h1>{{ d.title }}</h1>
                            <p>{{ d.quantity }} Dua</p>
                        </div>
    
                        <div class="arrow_box">
                            <div class="arrow">
                                <ion-icon id="{{ d.chevron_id }}" onclick='{{ d.func_id }}' name="chevron-down-outline"></ion-icon>
                            </div>
                        </div>
                    </div>

                    <div id='{{ d.dua_section_id }}' class="dua_section">
                        
                        <a href="">
                            <div class="int_dua_section">
                                <h1>{{ d.dua1 }}</h1>
                            </div>
                        </a>

                        {% if d.dua2 %}
                        
                        <a href="{{ d.link_dua_2 }}">
                            <div class="int_dua_section">
                                <h1>{{ d.dua2 }}</h1>
                            </div>
                        </a>
                        {% endif %}


                        {% if d.dua3 %}
                        
                        <a href="{{ d.link_dua_3 }}">
                            <div class="int_dua_section">
                                <h1>{{ d.dua3 }}</h1>
                            </div>
                        </a>
                        {% endif %}

                        {% if d.dua4 %}
                        
                        <a href="{{ d.link_dua_4 }}">
                            <div class="int_dua_section">
                                <h1>{{ d.dua4 }}</h1>
                            </div>
                        </a>
                        {% endif %}


                        {% if d.dua5 %}
                        
                        <a href="{{ d.link_dua_5 }}">
                            <div class="int_dua_section">
                                <h1>{{ d.dua5 }}</h1>
                            </div>
                        </a>
                        {% endif %}

                        {% if d.dua6 %}
                        
                        <a href="{{ d.link_dua_6 }}">
                            <div class="int_dua_section">
                                <h1>{{ d.dua6 }}</h1>
                            </div>
                        </a>
                        {% endif %}


                        {% if d.dua7 %}
                        
                        <a href="{{ d.link_dua_7 }}">
                            <div class="int_dua_section">
                                <h1>{{ d.dua7 }}</h1>
                            </div>
                        </a>
                        {% endif %}


                        {% if d.dua8 %}
                        
                        <a href="{{ d.link_dua_8 }}">
                            <div class="int_dua_section">
                                <h1>{{ d.dua8 }}</h1>
                            </div>
                        </a>
                        {% endif %}


                        {% if d.dua9 %}
                        
                        <a href="{{ d.link_dua_9 }}">
                            <div class="int_dua_section">
                                <h1>{{ d.dua9 }}</h1>
                            </div>
                        </a>
                        {% endif %}



                        {% if d.dua10 %}
                        
                        <a href="{{ d.link_dua_10 }}">
                            <div class="int_dua_section">
                                <h1>{{ d.dua10 }}</h1>
                            </div>
                        </a>
                        {% endif %}


                        {% if d.dua11 %}
                        <a href="{{ d.link_dua_11 }}">
                            <div class="int_dua_section">
                                <h1>{{ d.dua11 }}</h1>
                            </div>
                        </a>
                        {% endif %}

                    </div>

                </div>
                {% endfor %}
            
            </div>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>










