{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="{% static 'css/app1/search.css' %}">
    <title>Al-Murshid | Recherche</title>
</head>
<body>
    


    
    <div class="content">


        <div class="title_content">
            <h1 id='dua'>Liste de tout les Dua</h1>
        </div>


        <div class="search_bar_box">
            <form action="{% url 'search' %}">
                <div class="search_bar">
                        <div class="input_box">
                            <input type='search' type="text" name='q' placeholder="Ablution, Adhan, Prière...">
                        </div>
                        
                        <div class="icon_box">
                            <div class="int_icon">
                                <button type="submit">
                                    <ion-icon name="search-sharp"></ion-icon>
                                </button>
                            </div>
                        </div>
                </div>
            </form>
        </div>


        <div class="all_box">

            {% for d in dua %}
            <div class="box">
                <div class="int_box">
                    <div class="title_box">
                        <h1>{{ d.title }}</h1>
                        <p>{{ d.quantity }} Dua</p>
                    </div>

                    <div class="arrow_box">
                        <div class="arrow">
                            <ion-icon id="{{ d.chevron_id }}" onclick='{{ d.func_id }}' name="chevron-down-outline"></ion-icon>
                        </div>
                    </div>
                </div>

                <div id='{{ d.dua_section_id }}' class="dua_section">
                    
                    <a href="">
                        <div class="int_dua_section">
                            <h1>{{ d.dua1 }}</h1>
                        </div>
                    </a>

                    {% if dua2 %}
                    <a href="">
                        <div class="int_dua_section">
                            <h1>{{ d.dua2 }}</h1>
                        </div>
                    </a>
                    {% endif %}
                </div>

            </div>
            {% endfor %}
        </div>
    </div>

    <style>
        body{
            width: 100%;
            min-height: 100%;
        }
    </style>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>