{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pryer/pryer.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Al-Murshid | Horaires de prieres</title>
</head>
<body>
    
    <div class="background">
        <img src="{% static 'img/back.png' %}">
    </div>

    <div class="wrapper">

        <header class="header">
            <div class="logo">
                <h1>Al - Murshid</h1>
            </div>
            <nav class="nav">

                <div class="item_list">
                    <li>
                        <a href="{% url 'home' %}"><p>Home</p></a>
                        <a href=""><p>Favorites</p></a>
                        <a href=""><p>Pryer time</p></a>
                        <a href=""><p>Instruction</p></a>
                    </li>
                </div>

                <div class="account">
                    <a href="">
                        <ion-icon name="person-circle-outline"></ion-icon>
                    </a>
                </div>

            </nav>
        </header>

        <!--  -->
        <header class="header_mobile">
            <div class="logo">
                <h1>Al - Murshid</h1>
            </div>
            <div class="threeline">
                <div class="threeline_center_box">
                    <ion-icon id="threelineid" onclick="Open()" class='ionicon' name="menu-outline"></ion-icon>
                </div>
            </div>

            <div id="menuid" class="menu">
                <nav class="nav_mobile">
                    <li id="id1">
                        <a href="{% url 'home' %}"><p>Accueil</p></a>
                        <a href=""><p>Favorites</p></a>
                        <a href=""><p>Pryer Time</p></a>
                        <a href=""><p>Instruction</p></a>
                        <a href=""><p>Mon Compte</p></a>
                    </li>
                </nav>
            </div>
            <div class="end_menu"></div>
        </header>
        <!--  -->

        <main class="main">

            <div class="clock">
                <div class="time">
                    <h1>Il est {{ time }}</h1>
                </div>
            </div>

            <div class="pryer">

                <div class="box">
                    <div class="int_box">
                        <div class="title_box">
                            <h1>Fajr</h1>
                        </div>
                        <div class="box_content">
                            <h1>{{ fajr }}</h1>
                        </div>
                    </div>
                </div>



                <div class="box">
                    <div class="int_box">
                        <div class="title_box">
                            <h1>Dhur</h1>
                        </div>
                        <div class="box_content">
                            <h1>{{ dhur }}</h1>
                        </div>
                    </div>
                </div>


                <div class="box">
                    <div class="int_box">
                        <div class="title_box">
                            <h1>Asr</h1>
                        </div>
                        <div class="box_content">
                            <h1>{{ asr }}</h1>
                        </div>
                    </div>
                </div>


                <div class="box">
                    <div class="int_box">
                        <div class="title_box">
                            <h1>Maghrib</h1>
                        </div>
                        <div class="box_content">
                            <h1>{{ maghrib }}</h1>
                        </div>
                    </div>
                </div>


                <div class="box">
                    <div class="int_box">
                        <div class="title_box">
                            <h1>Isha</h1>
                        </div>
                        <div class="box_content">
                            <h1>{{ isha }}</h1>
                        </div>
                    </div>
                </div>


            </div>
        </main>


        <main class="mobile">
            <div class="clock_mobile">
                <h1>Il est {{ time }}</h1>
            </div>
            <div class="pryer_mobile">
                <div class="time_table">

                    <div class="top_timetable">
                        <div class="right_top_timetable">
                            <h1>Shuruk</h1>
                            <h1>{{ shuruk }}</h1>
                        </div>
                        <div class="left_top_timetable">
                            <h1>Jumua</h1>
                            <h1>13:00</h1>
                        </div>

                    </div>

                    <div class="bot_timetable">

                        <div class="timetable_box">
                            <h1>Fajr</h1>
                            <h1>{{ fajr }}</h1>
                        </div>
                        <div class="timetable_box">
                            <h1>Dhur</h1>
                            <h1>{{ dhur }}</h1>
                        </div>
                        <div class="timetable_box">
                            <h1>Asr</h1>
                            <h1>{{ asr }}</h1>
                        </div>
                        <div class="timetable_box">
                            <h1>Maghrib</h1>
                            <h1>{{ maghrib }}</h1>
                        </div>
                        <div class="timetable_box">
                            <h1>Isha</h1>
                            <h1>{{ isha }}</h1>
                        </div>

                    </div>

                </div>
            </div>
        </main>
    </div>

    <div class="end"></div>


    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>