@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');



:root{
    --bg-color: #00091f;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


html, body{
    overflow-x: hidden;
}


body{
    background-color: var(--bg-color);
}



/* width */
::-webkit-scrollbar {
    width: 1.7lvh;
}

/* bacground */
::-webkit-scrollbar-track {
    background: var(--bg-color);
}

  
/* Scroll bar color */
::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 2lvh;
}
  
/* Hover scroll bar color */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}





.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}


.header{
    width: 100%;
    height: 15lvh;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}




.logo{
    width: 25%;
    height: 100%;
}

.logo h1{
    color:#eee;
    font-size: 5lvh;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin-left: 5%;
    margin-top: 7%;
    cursor: default;
    transition: 0.5s all;
}






.nav{
    height: 100%;
    width: 45%;
    display: flex;
}

.item_list{
    width: 75%;
    height: 100%;
}

.item_list li{
    display: flex;
    justify-content: space-between;
    margin: 8% 0% 5% 0%;
}


.item_list li a{
    color:#eee;
    transition: 0.2s all;
    border-radius: 1.2lvh;
    padding: 0% 2% 0% 2%;
}


.item_list li a:hover{
    background-color: #eee;
    color: var(--bg-color);
}


.item_list li a p{
    font-size: 3lvh;
    font-family: 'Poppins', sans-serif;
    opacity: 100%;
}



.account{
    width: 25%;
    height: 100%;
}


.account a{
    color:#eee;
    transition: 0.3s all;
    margin-left: 15%;
}

.account a:hover{
    color:#888
}


.account ion-icon{
    width: 80%;
    height: 80%;
}



@media (max-width:600px){

    .header{
        border: 1px solid #000;
        height: auto;
        display: block;
    }
    
    .logo{
        width: 100%;
        height: 12.5lvh;
        border: 1px solid #000;
    }

    .logo h1{
        text-align: center;
        font-size: 5lvh;
    }


    .threeline{
        display: contents;
    }


    .threeline_center_box{
        border: 1px solid #000;
        width: 30%;
        height: 10lvh;
        margin: auto;
    }

    .threeline_center_box .ionicon{
        width: 100%;
        height: 100%;
        color:#eee;
    }


    .menu_mobile{
        border: 1px solid #000;
        transition: 0.3s all;
    }

    .nav_mobile{
        border: 1px solid #000;
        width: 50%;
        height: 100%;
        margin: auto;
    }

    .nav_mobile li{
        text-align: center;
        margin: auto;
        list-style: none;
        margin-top: 0%;
    }

    .nav_mobile li a{
        color:#eee;
    }


    .nav_mobile li a p{
        font-size: 3.5lvh;
        font-family: 'Ubuntu', sans-serif;
        margin-top: 8%;
    }


    .title h1{
        font-size: 5lvh;
    }


    .btn{
        width: 65%;
    }


    .btn h1{
        margin-top: 8%;
        font-size: 3.8lvh;

    }


    .title_content h1{
        font-size: 5lvh;
    }


    .search_bar{
        width: 80%;
    }


    .input_box input{
        font-size: 2.5lvh;
    }


    .title_box{
        width: 75%;
    }


    .title_box h1{
        font-size: 4lvh;
        text-align: initial;
        margin-left: 2%;
    }
    
    .title_box p{
        font-size: 2.5lvh;
        text-align: initial;
        margin-left: 2%;
    }


    .int_dua_section h1{
        font-size: 3lvh;
    }



}